/* 버튼 기본 스타일 */
.custom-btn {
  color: #ffffff;          /* 기본 글씨색 */
  background-color: #007BFF; /* 기본 배경색 */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease; /* 부드러운 전환 */
}

/* 아이콘과 텍스트 간격 */
.custom-btn i {
  margin-right: 8px;
}

/* 호버 시 색상 변경 */
.custom-btn:hover {
  color: #ffffff;          /* 글씨색 유지 또는 변경 가능 */
  background-color: #FF5733; /* 마우스 올렸을 때 배경색 변경 */

}
